@model AppLaunchPad.Models.MealsModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Meal @Html.DisplayFor(item => item.mealsDescription)</p>
<p>Protien @Html.DisplayFor(item => item.mealsProtien)</p>
<p>Carb @Html.DisplayFor(item => item.mealsCarb)</p>
<p>Veggie @Html.DisplayFor(item => item.mealsVeggie)</p>
<p>Fat @Html.DisplayFor(item => item.mealsFat)</p>